{% extends 'dashboard.html' %}

{% block dashboard-body %}

<a href="ChangeDepartment"><button class="btn btn-secondary"><-- Back to Departments </button></a>
<center><h2 style="font-family:bold;">FACULTY</h2></center><br>

<h3 style="font-family:bold;">{{dep.Dept_Name|upper}} Department</h2>

<div class="row" style="margin-top:80px;">
  <div class="container-fluid">
    <div class="col-12">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Designation</th>
            <th scope="col">Contact</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          {% for f in remove_f %}
          <tr>
            <td>{{ f.Name }}</td>
            <td>{{ f.Designation }}</td>
            <td>{{ f.mobileNo|default_if_none:"" }}</td>
            <td><center><a href="{% url 'RemoveFaculty' f.id %}"><button class="btn btn-danger"> Remove </button></a></td></center>
          </tr>
          {% endfor %}

          {% for a in add_f %}
          <tr>
            <td>{{ a.Name }}</td>
            <td>{{ a.Designation }}</td>
            <td>{{ a.mobileNo|default_if_none:"" }}</td>
            <td><a href="{% url 'SelectDepFaculty' a.id %}"><center><button class="btn btn-success"> Add </button></a></td></center>
          </tr>
          {% endfor %}


        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

