{% extends base_template %}
{% load static %}
{% load crispy_forms_tags %}

{% block dashboard-body %}

<center><h2 style="font-family:bold;margin:50px;">{{q.Course}}<br>Quiz</h2></center><br>

<div class="row">
    <div class="container-fluid">
      <div class="col-5">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Title</th>
              <td>{{q.title}}</td>
            </tr>
            
            <tr>
              <th scope="col">Description</th>
              <td>{{q.description}}</td>
            </tr>
  
            <tr>
                <th scope="col">Teacher</th>
                <td>{{q.teacher}}</td>
              </tr>

              <tr>
              <th scope="col">Start Date</th>
              <td>{{q.start_Date}}</td>
            </tr>
            <tr>
                <th scope="col">Start Time</th>
                <td>{{q.start_Time}}</td>
              </tr>

              <tr>
                <th scope="col">Last Date</th>
                <td>{{q.end_Date}}</td>
              </tr>
      
            <tr>
              <th scope="col">End Time</th>
              <td>{{q.end_Time}}</td>
            </tr>

            <tr>
              <th scope="col">Total_Marks</th>
              <td>{{q.Total_Marks}}</td>
            </tr>

          </thead>
            </table>
            </div>
        </div>
    </div>

    <h1 class="head2" style="margin-top:30px;margin-bottom:80px;">All Questions</h1>

    {% for qs in q.QuestionAns.all %}
      
      <div class='body1'>

          <div class="row">

            <div class="col-sm-8 setts1" style="margin-left:55px;background-color:white;border-radius:10px;">
                  <h4>
                    <p style="margin-top:10px;"><b style="margin-left:60px;">Q{{forloop.counter}}. {{qs.question}}</b></p>
                      </h4>
                  <div class="q-lbtm-content">
                      <div class="textStyle" style="margin-top:25px;margin-left:60px;">

                        {% for qs1 in qs.MCQAns.all %}

                        {% if qs1.Correct_Ans == "Yes" %}
                        <u><b><p style="color:green;">{{forloop.counter}}. {{qs1.Answers}}</p></b></u>
                        {% elif qs1.Correct_Ans == "No" %}
                        <p>{{forloop.counter}}. {{qs1.Answers}}</p>
                        {% endif %}

                        {% endfor %}

                      </div>
      
                      <div class="question-cat">
                          <ul class="ul1">
                                  <li style="margin-left:15px;">
                                      <a href="{% url 'AddMCQToQuiz' qs.id %}" style="margin-left:400px;"><button class="btn btn-primary" style="margin-bottom:20px;margin-top:-10px;padding:5px;padding-right:20px;padding-left:20px;"> ADD MCQ OPTIONS </button></a>
                                  </li>
                          </ul>
                      </div>
                      <hr style="margin-top:-20px">
                 
                      <div class="question-cat" style="margin-left:16px;">
                          <ul class="ul1">
                                  <li style="margin-top:-10px">
                                      <p>{{qs.Marks}} Marks</p>
                                      </li>
                          </ul>
                      
                      </div>
          
                  </div>
              </div>
                </div> <br><br>

        {% endfor %}<br><br>


    <div class="row">
        <div class="col-md-12">
            <table class="table border">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col-md-5">Reg No</th>
                        <th scope="col">Name</th>
                        <th scope="col">Scored</th>
                        <th scope="col">View</th>
                    </tr>
                </thead>
                <tbody>

                  {% if q.upload == "Yes" %}
                  <a href="" style="margin-left:770px;"><button class="btn btn-secondary" style="padding:10px;padding-right:40px;padding-left:40px;"> QUIZ UPLOADED </button></a><br><br><br>
                  {% else %}
                  <a href="{% url 'UploadQuiz' q.id s %}" style="margin-left:770px;"><button class="btn btn-info" style="padding:10px;padding-right:40px;padding-left:40px;"> UPLOAD QUIZ </button></a><br><br><br>
                  {% endif %}

                    <br><br><h2>Student Submissions</h2><br><br>
                    <a href="{% url 'AddQuestToQuiz' q.id s %}" style="margin-left:770px;"><button class="btn btn-danger" style="margin-bottom:20px;padding:10px;padding-right:40px;padding-left:40px;"> ADD QUESTIONS </button></a><br><br><br>
                    {% if q.Review == "Open" %}
                    <a style="margin-left:770px;"><button class="btn btn-secondary" style="margin-bottom:20px;padding:10px;padding-right:40px;padding-left:40px;"> REVIEW OPENED </button></a><br><br><br>
                    {% else %}
                    <a href="{% url 'OpenReviewToQuiz' q.id s %}" style="margin-left:770px;"><button class="btn btn-info" style="margin-bottom:20px;padding:10px;padding-right:40px;padding-left:40px;"> OPEN REVIEW </button></a><br><br><br>
                    {% endif %}

                    {% for d in q.QuizDetail.all %}
                    <tr>
                        <td>{{d.student.RegistrationNo}}</td>
                        <td>{{d.student.name}}</td>
                        {% if d.Scored %}
                        <td>{{d.Scored}}/{{q.Total_Marks}}</td>
                        {% else %}
                        <td>Unmarked</td>
                        {% endif %}
                        <td><a href="{% url 'ShowStdQuiz' q.id d.student.id %}" class="btn btn-primary">View</a></td>
                      </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
 

{% endblock %}
